<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password - Ushodaya Bankers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

  <div class="auth-container">
    <h2>Forgot Password</h2>

    <form method="POST" class="auth-form">
      <input type="text" name="email" placeholder="Username or Email" required />
      <button type="submit">Send OTP</button>
    </form>

    <a class="auth-link" href="/login">Back to Login</a>
  </div>

</body>
</html>
